@page "/privacy"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = SharedProject.Policy.CountryAndJobPosition)]

<h3>Privacy</h3>

<AuthorizeView>
	<h2>
		Hello @context.User.Identity.Name,
		here's the list of your claims:
	</h2>
	<ul>
		@foreach (var claim in context.User.Claims)
		{
			<li><b>@claim.Type</b>: @claim.Value</li>
		}
	</ul>
</AuthorizeView>

<h3>Claims from the API</h3>
<ul>
	@foreach (var claim in _claims)
	{
		<li>@claim</li>
	}
</ul>